/.bundle
/vendor/bundle
/vendor/ruby/
*.rbc
.rspec
/log
!/log/.keep
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/coverage/
/coverage.data
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

#config/initializers/secret_token.rb
#config/secrets.yml

Gemfile.lock
.ruby-version
.ruby-gemset

/vendor/assets/bower_components
*.bowerrc
bower.json
/cache
.sass-cache

/capybara*
capybara-*.html

/public/assets/
/public/cache
/public/stylesheets/compiled
/public/system/*
/public/uploads/*

/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html

.idea
**.swp
.DS_Store
*~